<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加記帳</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="/logout" method="post" class="text-end mt-2">
                    <button class="btn btn-outline-danger">登出</button>
                </form>
                <form class="my-3" method="post" action="/account">
                    <h1>記帳本</h1>
                    <hr>
                    <div class="my-2">
                        <label for="thing" class="form-label" id="lblthing">事項</label>
                        <input type="text"  class="form-control" id="thing" name="title" aria-describedby="lblthing">
                    </div>
                    <div class="my-2">
                        <label for="time" class="form-label" id="lbltime">發生時間</label>
                        <input type="date" name="time" id="time" class="form-control" aria-describedby="lbltime">
                    </div>
                    <div class="my-2">
                        <label for="type" class="form-label" id="lbltype">類型</label>
                        <select name="type" id="type" class="form-select" aria-describedby="lbltype">
                            <option value="-1">支出</option>
                            <option value="1">收入</option>
                        </select>
                    </div>
                    <div class="my-2">
                        <label for="amount" class="form-label" id="lblamount">金額</label>
                        <input type="number" min="0" class="form-control" aria-describedby="lblamount" name="amount">
                    </div>
                    <div class="my-2">
                        <label for="remark" class="form-label" id="lblremark">備註</label>
                        <textarea name="remark" id="remark" cols="30" rows="10" class="form-control" aria-describedby="lblremark"></textarea>
                    </div>
                    <div class="my-2">
                        <button class="btn btn-primary me-2">提交</button>
                        <a href="/account" class="btn btn-success">帳單列表</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>