<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <form action="/login" class="my-3" method="post">
                    <h1>登入</h1>
                    <a href="/reg" class="btn btn-outline-danger">註冊</a>
                    <hr>
                    <div class="my-2">
                        <label for="un" class="form-label">帳號</label>
                        <input type="text" id="un" name="username" class="form-control">
                    </div>
                    
                    <div class="my-2">
                        <label for="pw" class="form-label">密碼</label>
                        <input type="password" id="pw" name="password" class="form-control">
                    </div>
                    <div class="my-2">
                        <button class="btn btn-primary">登入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>